@{
    ViewData["Title"] = "Add Product";
}
<h2>@ViewData["Title"]</h2>
<div>
    <form>
        <div class='form-group'>
            <label for='productName'>Product Name</label>
            <input type='text' id='productName' class='form-control' name='productName'>
        </div>
        <div class='form-group'>
            <label for='productPrice'>Price</label>
            <input type='text' id='productPrice' class='form-control' name='productPrice'>
        </div>
        <div class='form-group'>
            <label for='productQuantity'>Quantity</label>
            <input type='text' id='productQuantity' class='form-control' name='productQuantity'>
        </div>
        <div class='form-group'>
            <label for='productType'>Type</label>
            <input type='text' id='productType' class='form-control' name='productType'>
        </div>
        <button class='btn btn-primary' onclick="location.href='@Url.Action("AddProductToDatabase(Model)", "Inventory")'">Save</button>
    </form>
</div>